<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, :start_year => (Time.now.year - 99), :end_year => (Time.now.year - 17) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>